{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block content %}
<h2>Liste des Auteurs</h2>
{% if current_user.is_authenticated %}
    <div class="mb-3">
        <a href="{{ url_for('ajout_author') }}" class="btn btn-primary">Ajouter un Auteur</a>
    </div>
{% endif %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('edit_author', id=author.id) }}">{{ author.name }}</a>
                {% else %}
                    <a href="{{ url_for('author_details', id=author.id) }}">{{ author.name }}</a>
                {% endif %}
            </td>            
        </tr>
        {% else %}
        <tr>
            <td colspan="2">Aucun auteur trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}