{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
{% endblock %}

{% block content %}
<div class="container mt-5"> <!-- Ajout d'une marge pour espacement -->
    <div class="row">
        <div class="col-md-8 offset-md-2"> <!-- Centrer le contenu -->
            <h1 class="display-4 text-center mb-4"> <!-- Centrage du titre -->
                {{ b.title }}
            </h1>

            <div class="text-center mb-4"> <!-- Centrage de l'image -->
                <img src="{{ url_for('static', filename='images/' + b.img) }}"
                     alt="{{ b.title }}" 
                     title="{{ b.title }}" 
                     class="img-fluid rounded"> <!-- img-fluid pour rendre l'image réactive, rounded pour les coins arrondis -->
            </div>

            <div class="form-inline d-flex justify-content-center"> <!-- Centrer le contenu -->
                <ul class="list-unstyled"> <!-- Retire les puces des listes -->
                    <li><strong>Author:</strong> {{ b.author.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
