{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Edit author: {{ author.name }}</h1>
    <form role="form" method="POST" action="{{ url_for('save_author') }}" class="mx-auto" style="max-width: 600px;">
        {{ form.hidden_tag() }}
        
        <div class="form-group mb-3"> <!-- Ajout d'espacement -->
            {{ form.name.label(class="form-label") }} <!-- Classe Bootstrap pour le label -->
            {{ form.name(size=50, class_="form-control") }} <!-- form-control pour un style uniforme -->
        </div>

        <div class="d-flex justify-content-end">
            <input class="btn btn-primary mb-2" type="submit" value="Enregistrer">
        </div>
    </form>
</div>
{% endblock %}
