h1 {color: rgb(0, 0, 0);
}

div.sample{
 text-align: center;
 margin-left: 25%;
 margin-right: 25%;
}

main {
    padding-top: 8em;
    padding-bottom: 8em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 60px 15px 0;
   }
   
#userlog  {
color: #3498db; 
margin-left: 2%;

}

.card {
    text-align: center;
    margin: auto;
}

#submit_import {
    margin-bottom: 10rem;
}

.pagination {
    text-align: right;
    margin-left: 25%;
    margin-right: 25%;
}

.pagination a {
    display: inline-block; 
    margin: 0 10px; 
    padding: 8px 12px; 
    border: 1px solid #007bff; 
    border-radius: 5px; 
    color: #007bff; 
    text-decoration: none; 
}